{% extends "banner.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">


<h2> Welcome</h2>


{% if disp %}
    <p style="color: red">You need to be logged in </p>
{% endif %}

{% if user and user.username %}

<h2> Here are your reservations </h2>

<ul>

{% for reservation in user_reservations %}

    <li> On resource: <a href='/resource/{{reservation.resource.id}}'>{{ reservation.resource.name }}</a>, starting at: {{ reservation.start_time }}  until {{  reservation.end_time }}. On {{ reservation.date }}  <a href='/cancelReservation/{{reservation.id}}'>Cancel</a></li>
    

{% endfor %}

</ul>


<h2> Here are your resources </h2>

<ul>

{% for resource in user_resources %}
    <li> <a href='/resource/{{resource.id}}'>{{ resource.name}}</a>, available from: {{ resource.start_time|time:"H:i" }}  until {{ resource.end_time|time:"H:i" }}. Last time: {{ resource.last_res_made }} {% if resource.tags == ''%} No tags are given {% else %} Tags:  {{  resource.tags }} {% endif %}. Reserved {{ resource.reserve_count }} times</li>
    Reservations made on {{ resource.name }}:
    <div style="padding:20px;">
        {% for reservation in resource.reservation_set.all  %}
            <li> <a href='/reservation/{{reservation.id}}'> By user: {{ reservation.owner.username}}</a>, starting at: {{ reservation.start_time|time:"H:i" }}  until {{ reservation.end_time|time:"H:i" }} on {{ reservation.date }}. </li>
        {% endfor %}
    </div>

{% endfor %}

</ul>

<h2> And here are all the resources </h2>

<ul>

{% for resource in all_resources %}
    <li> Name: <a href='/resource/{{resource.id}}'>{{ resource.name}}</a> Created by: {{resource.owner.username}}. Available from: {{ resource.start_time|time:"H:i" }}  until {{ resource.end_time|time:"H:i" }}. Last reservation date: {{ resource.last_res_made }} Tags: {% if resource.tags == ''%} No tags given {% else %} {{  resource.tags }} {% endif %}. Reserved {{ resource.reserve_count }} times</li>

{% endfor %}

</ul>

</div>


{% else %}

Please <a href='/login'>Login</a> or <a href='/signup'>Register</a> to continue

{% endif %}

{% endblock %}


