
{% extends "banner.html" %}
{% load staticfiles %}


{% block content %}

<div>
<ul>
{% if resource %}
    <li> Name: <a href='/resource/{{resource.id}}'>{{ resource.name}}</a>. Would you like to <a href='/editResource/{{resource.id}}'>edit</a></li><li> Created by: {{resource.owner.username}}. </li><li> Available from: {{ resource.start_time|time:"H:i" }}  until {{ resource.end_time|time:"H:i" }}.</li><li> Tags: {% if resource.tags == ''%} No tags given {% else %} {{  resource.tags }} {% endif %}</li>
{% endif %}
</ul>
</div>

<h2>Your resources</h2>

<div>

  {% for resource in user.resource_set.all  %}
            <li> Name: <a href='/resource/{{resource.id}}'> {{ resource.name }}</a> Starting at: {{ resource.start_time|time:"H:i" }}  until {{ resource.end_time|time:"H:i" }}. </li>
        {% endfor %}

</div>

<h2>Your reservations</h2>

<div>

  {% for reservation in user.reservation_set.all  %}
            <li> Resource: <a href='/resource/{{reservation.resource.id}}'>{{ reservation.resource.name }}</a> On {{ reservation.date }}, starting at: {{ reservation.start_time|time:"H:i" }}  until {{ reservation.end_time|time:"H:i" }}. <a href='/cancelReservation/{{reservation.id}}'>Cancel</a> </li>
        {% endfor %}

</div>


{% endblock %}

